config jiotv 'main'
	option enabled '1'
	option host '0.0.0.0'
	option port '5001'
	option tls '1'
	option tls_port '5443'
	option tls_cert ''
	option tls_key ''
	option epg '0'
	option extras '0'
	option debug '0'
	option drm '1'
	option disable_auth '0'
	option title 'JioTV Go'
	option proxy ''
	option custom_channels_file ''
	option default_categories ''
	option default_languages ''
